/* Responsive CSS */

@media (max-width: 1024px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        /* left: 0; */
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .extra .extra-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px; 
        height: 70vh;
    }
    .extra .extra-content .card .box p{
        text-align: justify;
        width: 100%;
        height: 100%;
    }
    .contact form .button button{
        height: 100%;
        width: 80%;
        color: #fff;
        background: green;
        border: 1px solid green;
        border-radius: 22px;
        outline: 0;
        padding: 12px 32px;
        font-size: 20px;
    }
    footer .title-sosmed .sosmed-content{
        text-align: center;
        padding: 10px 0 20px 0;
    }
    footer{
        color: #fff;
        width: 100%;
        height: 100%;
    }
    

}

@media (max-width: 425px){
    .nav-head{
        padding: 0 23px;
    }
    .home .home-content .text-1{
        font-size: 14px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 22px;
    }
    /* .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    } */

    /* pindah keatas tengah teks */
    .nav-head{
        max-width: 800px;
    }

    .about .about-content .column{
        width: 100%;
        margin: 0 auto;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .extra .extra-content .card{
        width: 100%;
        /* height: 100%; */
        height: 70vh;
    }
    .extra .extra-content .card .box p{
        text-align: justify;
        width: 100%;
        height: 100%;
    }
    .contact form .button button{
        height: 10%;
        width: 80%;
        border-radius: 22px;
        outline: 0;
        padding: 12px 32px;
        font-size: 20px;
    }
    footer .title-sosmed .sosmed-content{
        width: 100%;
        text-align: center;
        padding: 10px 0 10px 0;
    }
    footer{
        color: #fff;
        width: 100%;
        height: 100%;
    }
        
    
}